<div class="thread-reply">
  <form (ngSubmit)="onSubmitReply(replyForm)" #replyForm="ngForm">
      <legend>Añadir comentario</legend>
      <p class="error" *ngIf="error">{{ error }}</p>
      <div class="input-field">
        <i class="material-icons prefix"></i>
        <textarea id="content" class="materialize-textarea" rows="10" cols="50" name="content" [(ngModel)]="reply.content" required></textarea>
        <label for="content">Contenido</label>
      </div>
      <div class="button-submit">
      <button class="btn waves-effect waves-light" type="submit" [disabled]="!replyForm.valid">
        Enviar<i class="material-icons right"></i>
      </button>
    </div>
  </form>
</div>
