<div class="markets">
  <h3>Mercados</h3>
</div>
<hr>
<div class="markets-list">
  <div class="market-wrap" style="text-align:center">
    <div class="bitcoin-stats">
      <div class="bitcoin-stats-wrap">
        <div class="bitcoin-stats-panel animated">
          <h4 class="title">Comprueba las estadísticas de Bitcoin</h4>
          <p class="paragraph">
            Obtén información sobre todas las estadísticas relacionadas con
            Bitcoin: Precio de mercado, capitalización, pools de minería,
            clientes, blockchain, ...
          </p>
        </div>
        <div class="bitcoin-stats-image">
          <a [routerLink]="['/markets/statistics']">Estadísticas de Bitcoin</a>
        </div>
      </div>
    </div>
    <div class="markets-real-time">
      <div class="markets-real-time-wrap">
        <div class="markets-real-time-image">
          <a [routerLink]="['/markets/real-time']">Mercados en tiempo real</a>
        </div>
        <div class="markets-real-time-panel">
          <h4 class="title">Cotización de mercado en tiempo real</h4>
          <p class="paragraph">
            Accede a información de la cotización de Bitcon en distintos
            mercados de todo el mundo en tiempo real.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
