/* You can add global styles to this file, and also import other style files */
:root {
  
}

body {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Droid Serif', Georgia, Times, serif;
  margin: 0;
  padding: 0;
}
