<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">button</a>
  </div>
  <div class="carousel-item first white-text" href="#one!">
    <h2>First Panel</h2>
    <p class="white-text">This is your first panel</p>
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <h2>Second Panel</h2>
    <p class="white-text">This is your second panel</p>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <h2>Third Panel</h2>
    <p class="white-text">This is your third panel</p>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
    <h2>Fourth Panel</h2>
    <p class="white-text">This is your fourth panel</p>
  </div>
</div>
<div class="getting-started">
  <h2 class="title">
    Adéntrate en el mundo de  <img src="./../../../assets/logo_big.png">itcoin
  </h2>
</div>
<div class="subscribe">
  <div class="subscribe-wrap">
    <div class="bitcoin-image">
      <img src="./../../../assets/bitcoin_white.png" alt="bitcoin coin">
    </div>
    <div class="subscribe-panel">
      <h4 class="title">¿Qué ocurre en el mundo Bitcoin?</h4>
      <div class="paragraph">
        <p>Al principio bitcoin puede parecer complicado pero es más fácil de lo que crees. Suscríbete de manera totalmente gratuita a nuestro reporte por email y no te pierdas ningún acontecimiento de este apasionante mundo.
        </p>
      </div>
      <div class="subscription-form">
        <form action="" method="post">
          <div class="form-element">
            <input type="email" name="email" placeholder="Email">
          </div>
          <div class="form-element">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="inform-yourself">
  <div class="inform-yourself-panel">
    <h4 class="title">Infórmate bien</h4>
    <p class="paragraph">Bitcoin es completamente diferente de cualquier divisa que hayas utilizado previamente. Es importante comprender algunos conceptos importantes ya que Bitcoin es más que una divisa: Es un nuevo sistema monetario.
    </p>
    <a href="">Sigue leyendo</a>
    <a href="">Lee el paper original de Bitcoin</a>
  </div>
  <div class="inform-yourself-image">
    <img src="./../../../assets/light-bulb-v2.png" alt="light-bulb-image">
  </div>
</div>
<div class="choose-your-wallet">
  <div class="choose-your-wallet-wrap">
    <div class="choose-your-wallet-image">
      <img src="./../../../assets/wallet_icon.png" alt="bitcoin-wallet-image">
    </div>
    <div class="choose-your-wallet-panel animated">
      <h4 class="title">Elige tu monedero Bitcoin</h4>
      <p class="paragraph">Existen una gran multitud de monederos para tus Bitcoins.
        <br>Comprueba sus características y elige la que mejor se adapta a tus necesidades.
      </p>
      <a href="">Elige tu monedero</a>
    </div>
  </div>
</div>
<div class="select-your-exchange">
  <div class="select-your-exchange-wrap">
    <div class="select-your-exchange-panel animated">
      <h4 class="title">Obtén tus primeros Bitcoins</h4>
      <p class="paragraph">Obtener Bitcoins es idéntico a obtener cualquier otra divisa. Cambia tu divisa por Bitcoins en cualquiera de los mercados existentes.
      </p>
      <br>
      <a href="">Elige tu mercado</a>
    </div>
    <div class="select-your-exchange-image">
      <img src="./../../../assets/get_bitcoins.png" alt="currency-to-bitcoin">
    </div>
  </div>
</div>
<div class="spend-your-bitcoins">
  <div class="spend-your-bitcoins-wrap">
    <div class="spend-your-bitcoins-image">
      <img src="./../../../assets/bitcoin-accepted-here.png" alt="spend your bitcoins">
    </div>
    <div class="spend-your-bitcoins-panel animated">
      <h4 class="title">Utiliza tus Bitcoins</h4>
      <p class="paragraph">Puedes utilizar tus Bitcoins para tus pagos como cualquier otra divisa en aquellos establecimientos que los acepten como medio de pago.
      </p>
      <a href="">Aprende más</a>
    </div>
  </div>
</div>
<div class="video-section">
  <div class="video-section-wrap">
    <div class="video-section-title">
      <h4 class="title">¿Qué es Bitcoin?<br><br>Sencillo...</h4>
    </div>
    <div class="bitcoin-introduction-video">
      <iframe src="https://www.youtube.com/embed/ceef71b0zSo" frameBorder="0" allowfullscreen>
    </iframe>
    </div>
  </div>
</div>
