<div class="real-time">
  <h3>Cotización en tiempo real</h3>
</div>
<div class="price" style="display: block;">
  <canvas *ngIf="printPrice" baseChart width="1200" height="350"
          [datasets]="lineChartDataPrice"
          [labels]="lineChartLabelsPrice"
          [options]="lineChartOptionsPrice"
          [colors]="lineChartColorsPrice"
          [legend]="lineChartLegendPrice"
          [chartType]="lineChartTypePrice">
  </canvas>
</div>
<div class="amount" style="display: block;">
  <canvas *ngIf="printAmount" baseChart width="1200" height="100"
          [datasets]="lineChartDataAmount"
          [labels]="lineChartLabelsAmount"
          [options]="lineChartOptionsAmount"
          [colors]="lineChartColorsAmount"
          [legend]="lineChartLegendAmount"
          [chartType]="lineChartTypeAmount">
  </canvas>
</div>
