<div class="real-time">
  <h3>Cotización en tiempo real - Bitstamp</h3>
</div>
<div>
  <div>
    <div class="priceChart"  style="position: relative; height:400px; width:700px">
      <canvas *ngIf="buffer" #baseChart></canvas>
    </div>
    <div class="amountChart"  style="position: relative; height:100px; width:700px">
      <canvas *ngIf="buffer" #baseChart2 width="700" height="150"></canvas>
    </div>
  </div>
  <div class="order-book">
    <!--table *ngIf="buffer">
      <thead>
        <tr>
          <th colspan="2">Order book</th>
        </tr>
        <tr>
          <th>Precio</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{  }}</td>
          <td>{{ buffer['book'][1] }}</td>
          <td>{{ thread?.created_at | date }}</td>
        </tr>
      </tbody>
    </table>
  </div-->
</div>
