<div class="estadisticas">
  <h3>Precio de Bitcoin</h3>
</div>
<div>
  <div class="chart" style="display: block;">
    <canvas *ngIf="printData" baseChart width="1200" height="350"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType">
    </canvas>
  </div>
  <div class="control-panel">
    <button (click)="toLogScale()" active="{ active: active }">Escala logarítmica</button>
    <button (click)="toDecimalScale()" active="{ active: !active }">Escala decimal</button>
    <button (click)="toTimeInterval(30)">1 mes</button>
    <button (click)="toTimeInterval(90)">3 meses</button>
    <button (click)="toTimeInterval(180)">6 meses</button>
    <button (click)="toTimeInterval(365)">1 año</button>
    <button (click)="toTimeInterval(1095)">3 años</button>
    <button (click)="toTimeInterval()">Todo el tiempo</button>
  </div>
</div>
