div {
  margin:0; /*gets rid of white space around body*/
  height:50px;
  background:url("https://static.pexels.com/photos/1440/city-road-street-buildings.jpg") no-repeat center / contain;
  background-color:#eee;
  position:relative; /*REQUIRED Sets up positioning for your footer*/
}

footer {
  width:100%;
  padding:20px;
  padding-bottom:16px;
  background:black;
  color:white;
  font-weight:bold;
  font-size:18px;
  text-align:center;
  bottom:0;          /*to the bottom of the body*/
  left:0;            /*and to the left of the body.*/

  /*EFFECTS*/
  border-top:1px solid whitesmoke;
  background-image:url(http://rs257.pbsrc.com/albums/hh234/tfm448/Snow411.gif~c200)
}
