<div class="login">
  <form (ngSubmit)="onSubmitLogin(loginForm)" #loginForm="ngForm">
    <legend>Login</legend>
    <p class="error" *ngIf="error">{{ error }}</p>
    <div class="input-field">
      <i class="material-icons prefix"></i>
      <input id="title" type="text" name="username" [(ngModel)]="user.username" required>
      <label for="title">Usuario</label>
    </div>
    <div class="input-field">
      <i class="material-icons prefix"></i>
      <input id="password" type="password" name="password" [(ngModel)]="user.password" required>
      <label for="password">Password</label>
    </div>
    <div class="button-submit">
      <button class="btn waves-effect waves-light" type="submit" [disabled]="!loginForm.valid">
        Login<i class="material-icons right"></i>
      </button>
    </div>
  </form>
</div>
<!--div>
  <a [href]="urlSteemit">Steemit login</a>
</div-->
