.container {
  margin-top: 100px;
}

.new-thread {
  text-align: right;
}

.new-thread a {
  padding: 1%;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fab915;
  border-radius: 5%;
  background-color: #4a4a4a;
}

.new-thread a:hover {
  background-color: #fab915;
}

.new-thread span {
  vertical-align: middle;
}

.thread-list {
  margin-top: 2%;
}
