<div class="container">
  <div class="new-thread">
    <a [routerLink]="['/thread/new']" [queryParams]="{'category': category}">
      <i class="material-icons">create</i>
      <span>New thread</span>
    </a>
  </div>
  <div class="thread-list">
    <div class="thread-wrap">
      <table>
        <thead>
          <tr>
            <th>Hilo</th>
            <th>Precio Bitcoin</th>
            <th>Autor</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let thread of threads; let even=even" [ngClass]="{ even: even }">
            <td><a class="title" [routerLink]="['/thread', thread.id]">{{ thread?.title }}</a></td>
            <td>{{ thread?.bitcoinPrice | currency }}</td>
            <td>{{ thread?.author.username }}</td>
            <td>{{ thread?.created_at | date }}</td>
          </tr>
        </tbody>
      </table>
      <!--ul class="threads-inline">
        <li *ngFor="let thread of threads">
          <span><a [routerLink]="['/thread', thread.id]">{{ thread?.title }}</a></span>
          <span>{{ thread?.bitcoinPrice | currency }}</span>
          <span>{{ thread?.author.username }}</span>
          <span>{{ thread?.created_at | date }}</span>
        </li>
      </ul-->
    </div>
  </div>
</div>
