.container {
  margin-top: 100px;
}

.new-thread {
  text-align: right;
  vertical-align: middle;
}

.new-thread a {
  padding: 1%;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fab915;
  border-radius: 5%;
  background-color: #C0C0C0;
}

.new-thread i {
  vertical-align: middle;
}

.new-thread a:hover {
  background-color: #fab915;
}

.new-thread span {
  vertical-align: middle;
}

.thread-list {
  margin-top: 2%;
}

thead {
  color: #4a4a4a;
}

thead a {
  text-decoration: none;
}

.even {
  background-color: #E8E8E8;
}

tr:hover {
  background-color: #fab915;
}

.title {
  color: #4a4a4a;
}
