<div class="container">
  <div>
    <a [routerLink]="['/thread/new']" [queryParams]="{'category': category}">New thread</a>
  </div>
  <div class="thread-list">
    <div class="thread-wrap">
      <ul class="threads-inline">
        <li *ngFor="let thread of threads">
          <span><a [routerLink]="['/thread', thread.id]">{{ thread?.title }}</a></span>
          <span>{{ thread?.bitcoinPrice | currency }}</span>
          <span>{{ thread?.author.username }}</span>
          <span>{{ thread?.created_at | date }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
