<div class="signup">
  <form (ngSubmit)="onSubmitSignup(signupForm)" #signupForm="ngForm">
    <legend>Sign up</legend>
    <p class="error" *ngIf="error">{{ error }}</p>
    <div class="input-field">
      <i class="material-icons prefix"></i>
      <input id="username" type="text" name="username" [(ngModel)]="user.username" required>
      <label for="username">Usuario</label>
    </div>
    <div class="input-field">
      <i class="material-icons prefix"></i>
      <input id="email" type="text" name="email" [(ngModel)]="user.email" required>
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <i class="material-icons prefix"></i>
      <input id="password" type="password" name="password" [(ngModel)]="user.password" required>
      <label for="password">Password</label>
    </div>
    <div class="button-submit">
      <button class="btn waves-effect waves-light" type="submit" [disabled]="!signupForm.valid">
        Signup<i class="material-icons right"></i>
      </button>
    </div>
  </form>
</div>
