<nav class="nav-bar">
  <div class="nav-bar-wrap">
    <div class="nav-bar-home">
      <a [routerLink]="['/']"><span>Home</span></a>
    </div>
    <div>
      <ul class="nav-bar-ul">
        <li class="nav-bar-li">
          <a href="#"><span>Inicio</span></a>
        </li>
        <li class="nav-bar-li">
          <a href="#"><span>Noticias</span></a>
        </li>
        <li class="nav-bar-li">
          <a [routerLink]="['/categories']"><span>Comunidad</span></a>
        </li>
        <li class="nav-bar-li">
          <a href="http://localhost:3000/mercados"><span>Mercados</span></a>
        </li>
      </ul>
    </div>
    <div class="auth-section">
      <ul>
        <li>
          <div class="bitcoin-real-time">
            <span class="btc-currency">BTC/USD</span>
            <span class="btc-price">${{ btcPrice }}</span>
          </div>
        </li>
        <li *ngIf="!user"><a [routerLink]="['login']">Login</a></li>
        <li *ngIf="!user"><a [routerLink]="['signup']">Sign up</a></li>
        <li *ngIf="user"><a [routerLink]="['/']" (click)="logout()">Logout</a></li>
      </ul>
    </div>
    <!--div class="nav-bar-menu">
      <a href="http://localhost:3000/mercados"><span>Menu</span></a>
    </div-->
  </div>
</nav>
