<nav class="nav-bar">
  <div class="nav-bar-wrap">
    <div class="nav-bar-home">
      <a [routerLink]="['/']"><span>Bitcointrix</span></a>
    </div>
    <div>
      <ul class="nav-bar-ul">
        <li class="nav-bar-li">
          <a href="#"><span>Inicio</span></a>
        </li>
        <li class="nav-bar-li">
          <a href="#"><span>Noticias</span></a>
        </li>
        <li class="nav-bar-li">
          <a [routerLink]="['/categories']"><span>Comunidad</span></a>
        </li>
        <li class="nav-bar-li">
          <a [routerLink]="['/markets']"><span>Mercados</span></a>
        </li>
      </ul>
    </div>
    <div class="bitcoin-real-time">
      <span class="btc-currency">BTC/USD</span>
      <span class="{{ isUp === true }} ? btc-price-up : btc-price-down"class="btc-price">${{ btcPrice }}</span>
    </div>
    <div class="auth-section">
      <ul>
        <li *ngIf="!user"><a [routerLink]="['login']">Login</a></li>
        <li *ngIf="!user"><a [routerLink]="['signup']">Sign up</a></li>
        <li class="logout" *ngIf="user" (click)="logout()">Logout ({{ user.username }})</li>
      </ul>
    </div>
  </div>
</nav>
