<div class="thread">
  <div class="thread-wrap" style="text-align:center">
    <div class="thread-header">
      <div class="title">
        <h3><b>{{ thread?.title }}</b></h3>
      </div>
      <h5>
        <span class="thread-author">{{ thread?.author.username }}</span> -
        <span class="thread-date">{{ thread?.created_at | date }}</span> -
        <span class="thread-bitcoin">BTC: {{ thread?.bitcoinPrice | currency }}</span>
      </h5>
      <div class="thread-vote col-2" *ngIf="user">
        <span>Votes: {{ votes }}</span>
        <a (click)="onAddVote()"><i class="tiny material-icons">add</i></a>
      </div>
      <div class="thread-remove col-2">
        <span *ngIf="user && user?.username == thread?.author.username">
          <a [routerLink]="['/categories']" (click)="removeThread()">Remove</a>
        </span>
      </div>
    </div>
    <br><br>
    <div>
      <p class="thread-content">{{ thread?.content }}</p>
    </div>
    <br><br>
    <div *ngIf="user">
      <app-reply></app-reply>
    </div>
    <ul class="replies-list">
      <li *ngFor="let reply of replies">
        <div class="reply">
          <div class="reply-header">
            <i class="material-icons">comment</i>
            <b>{{ reply?.author.username }}</b> - {{ reply?.created_at | date }}
          </div>
          <p class="reply-content">{{ reply?.content }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
