.thread {
  margin: 0 auto;
  margin-top: 100px;
  width: 50%;
}

.thread-header h5 span {
  padding: 0 2%;
}

.title {
  display: inline-block;
}

.col-2 {
  width: 40%;
}

.thread-vote, .thread-remove {
  margin-top: 2%;
  display: inline-block;
  text-align: center;
}

.thread-vote {
  font-size: 20px;
}

.thread-vote i {
  padding: 3%;
  color: #fff;
  background-color: #C0C0C0;
  vertical-align: middle;
  border-radius: 50%;
}

.thread-vote i:hover {
  background-color: #fab915;
  cursor: pointer;
}

.thread-remove span {
  text-decoration: none;
  padding: 2% 3%;
  border: 1px solid #fab915;
  border-radius: 5%;
}

.thread-remove span:hover {
  background-color: #ff3333;
}

.thread-remove a {
  text-decoration: none !important;
  color: #ff3333;
}

.thread-remove a:hover {
  color: #fff;
}

.thread-content {
  text-align: left;
}

.replies-list {
  margin-top: 10%;
}

.reply {
  text-align: left;
  margin: 8% 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.reply i {
  vertical-align: middle;
}

.reply-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  color: #4a4a4a;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  background-color: rgba(0, 0, 0, .125);
  position: relative;
}

.reply-content {
  padding: .75rem 1.25rem;
}
